.ask-catura-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    
}

.header {
    
   
    display: flex;
   
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    
}

.header h4 {
    font-size: 16px;
    color: #333;
    
}

.para{
    font-size: 12px;
    margin-top:5px;
}

.dropdowns {
    display: flex;
    gap: 2px;

}

.group-icon{
    width: 13px;
    height: 8px;
    margin-top:8px;
       
}

.dropdown {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 187px;
}

.background {
    position: relative;
    width:300px;
    height: 150px;
    background-image: url('../../Assests/blurtext.png');
    background-size: cover;
    background-position: center;
   border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.custom-line {
    border-top:1px solid #44486D1A;
    width:99%;
}

.overlay{
    color:white;
}

.overlay h6{
    font-size: 12px;
    margin-bottom: 10px;
}

.buttons{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}


.button{
    background-color: white;
    color:#0F8BFD;
    font-size:10px;
    height: 30px;
    border:none;
    margin-left:10px;
    width:100px;
    border-radius: 10px;
    padding:10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
  
}

.buttons button:hover {
    background-color: #0056b3;

}

.preview-icon {
    height: 13px;
}

.input-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width:300px;
    margin-bottom: 20px;
}

.ask-input {
    height:30px;
    width: 250px;
    margin-right:5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 10px;
    text-align: start;
    padding:5px;
    
}

.send-btn {
    
    background-color: #0F8BFD;
    color: white;
    border: none;
    border-radius: 10px;
    height:40px;
    width:40px;
       
}

.send-btn:hover {
    background-color: #0056b3;
}

.icons{
   color:black;
   height: 25px;
   width:30px;
   align-items: center;
   padding:0px;
   margin-left:10px;
}

.sent-button{
    height: 18px;
    width:18px;
}