.profile-container{
    background-color: #FFFFFF;
    display: flex;
  
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
   
}

.cb-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cb-icon{
    border-radius: 30px;
    background-color:#efeff3;
    height: 60px;
    width:65px;
    text-align: center;
}

.cb-icon-head{
    margin-top: 10px;
   
    color:#4C6292;
}

.name-con{
    margin-left:5px; 
    height: 100px;
}

.pro-name{
    color:black;
    text-align: left;
    padding-left:15px;
}

.pro-image{
    height: 20px;
    padding-left:10px;
}

.map-con{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -20px;

}
.map-con p{
    color:#676B89;
    font-size:12px;
    
}


.horizontal-line {
    border-top: 2px solid #44486D1A;
    align-items: center;
    margin-top: -30px;
}

.customer-container{

   width:330px;
   background-color: #4C62921A;
   border-radius: 10px;
   margin-bottom: 10px;
}

.customer-id{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding:15px;
}

.customer-name{
    font-size: 13px;
    text-align:start;

}

.customer-info{
    display: flex;
    flex-direction: row;
    
}

.add-button{
    text-align: center;
    background-color: #4C629233;
    height: 35px;
    padding:5px;
    border-radius: 6px;
}

.percent{
    height: 18px;
}

.user-button{
    background-color:#0F8BFD;
    height: 35px;
   
    border :none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin-bottom: 15px;
}

.pro-user{
    color:white;
}

.new-user-btn{
    height: 35px;
 
    border:1px dashed #0F8BFD;
    border-radius: 10px;
}

.new-user{
    color:#0F8BFD;
    text-align: center;
    font-weight: bold;
}